{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div id='profile'>
    <img src="/static/profile-picture/{% if student.rank == 'God' %}god.png{% else %}normal.png{% endif %}" style="width:200px">
    <div id='profile-child'>
        <h1 style="font-family: 'Amatic SC', cursive,'Single Day', cursive;font-size: 40px;text-align: center;margin-bottom: 10px;">this is <span style='color:rgb(255, 47, 47)'>{{student.username}}</span></h1>
        <table id='profile-table'>
            <td>id: </th>
            <td style="padding-left: 10px;"> {{student.student_id}}</th>
            </tr>
            <tr>
            <td>rank: </td>
            <td style="padding-left: 10px;"> {{student.rank}}</td>
            </tr>
            <tr>
            <td>happiness: </td>
            <td style="padding-left: 10px;color:red"> {{student.happiness}}</td>
            </tr>
        </table>
        {%if student.bio|length != 0%}
        <form method="POST" action="" class='bio-del-form'>
            {% csrf_token %}
            <span><p>bio</p>
                <button style="padding:0;"><i class="fas fa-times-circle" type=></i></button>
            </span>
        </form>
        <p id='bio'>{{ student.bio }}</p>
        {%elif student.student_id == user.student_id%}
        <a class='bio-add'>add your bio</a>
        <form method="POST" action="" class='bio-form'>   
            {% csrf_token %}
            {{form.bio}}
            <br>
            <input class='save-button'type="submit" value='save' name='save button'>
        </form>
        {%else%}{%endif%}

    </div>
</div>

<style>

    #profile-child #profile-table {
        margin:0 auto;
    }

    #profile-child #bio {
        font-family: 'DM Mono', monospace;
        font-size: 12px;
    }

    #profile-child .fa-times-circle{
        display: inline-block;
        width: 0;height: 0;
        position: relative;
        top: -20px;left: 30px;
        color:rgb(235, 235, 235);
    }

    #profile-child .fa-times-circle:hover {
        color: rgb(153, 14, 14);
    }

    #profile-child .bio-add {
        text-align: center;
        color:rgb(255, 47, 47);
        display: block;
        margin-top: 10px;
        font-size: 13px;
        font-family: 'DM Mono', monospace;
    }

    #profile-child .bio-add:hover {
        color:rgb(172, 17, 17);
    }

    #profile-child .bio-form .active{
        display: block;
    }

    textarea{
        margin-top: 10px;
        width: 100%;
        height: 100px;
        display: none;
    }

    .save-button{
        display: block;
        margin: 10px auto 0 auto;
        background-color: rgb(255, 147, 147);
        border-style: none;
        width: 50px;
        color: white;
        font-size: 14px;
        font-family: 'DM Mono', monospace;
        border-radius: 5px;
        display: none;
    }

    .save-button:hover{
        background-color: rgb(255, 25, 25);
    }

    #profile-child p{
        margin: 5px auto 0 auto;
        display: block;
        font-family: 'Quicksand', sans-serif;
        font-size: 18px;
    }

</style>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#profile-child .bio-add').click(function(){
            $('#profile-child .bio-form textarea').toggleClass('active');
            $('#profile-child .bio-form .save-button').toggleClass('active');
        })
    });
</script>

{% include 'items/history-details.html' %}



{% else %}
<h1 id='content-text'> Please Login <a href="{% url 'login' %}" id='content-text'>Here</a> </h1>

{% endif %}
{% endblock %}