<div class='tran-preview'>
    <a href="{% url 'item' tran.food_id %}">{{tran.title}}</a>
    <table>
        <tr>
            <td>Donor:</td>
            <td style="text-align: center;">{{tran.donor}}</td>
        </tr>
        <tr>
            <td>Recipient:</td>
            <td style="text-align: center;">{{tran.recipient}}</td>
        </tr>
        <tr>
            <td>details</td>
            <td style="text-align: center;">{{tran.get_status_display}}</td>
        </tr>
    </table>
    <p>{{tran.date_create}}</p>
</div>