<form method="POST" action="" class='q-form'>   
    {% csrf_token %}
    
    <label>Title</label>
    {{queue_form.title}}
    <label>Author</label>
    {{queue_form.author}}
    <label>Content</label>
    {{queue_form.content}}
    <label>details</label>  
    {{queue_form.details}}
    <label>method</label>  
    {{queue_form.method}}
    <label>tags (seperate by ";")</label>
    {{queue_form.tags}}

    <input class='submit-button'type="submit" value='Post' name='Create Trans'>
</form>

<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='title';
    form_fields[1].value='Help!';
    form_fields[2].placeholder='author';
    form_fields[2].value='{{user.student_id}}';
    form_fields[3].placeholder='content';
    form_fields[3].value='banana';
    form_fields[6].placeholder='tags';
    form_fields[6].value='none'

    $("#id_method_0").prop("checked", true);

    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
</script>

<style>

    .q-form {
        max-width: 300px;
        margin: 0 auto;
    }

    .q-form input{
        display: none;
    }

    .q-form label{
        display: none;
        text-align: center;
    }

    .q-form textarea {
        display: none;
        resize: none;
        max-width: 300px;
        max-height: 90px;
    }

    .q-form .active{
        display: block;
    }

    .q-form textarea .active{
        display: block;
    }

    #id_method {
        list-style: none;
        display: inline;
    }

    @media (max-width: 600px) {
        .q-form textarea {
            max-width: 300px;
            max-height: 90px;
        }
    }

</style>