<div class='q-preview'>
    <div class='q-pr-table'>
    <a href="{% url 'item' tran.food_id %}">{{tran.date_create}}</a>
    <table>
        <tr>
            <td>Donor:</td>
            <td>{{tran.donor}}</td>
        </tr>
        <tr>
            <td>Recipient:</td>
            <td>{{tran.recipient}}</td>
        </tr>
        <tr>
            <td>details</td>
            <td>{{tran.get_status_display}}</td>
        </tr>
    </table>
    </div>
    <div class='q-pr-button'>
        <button>Lent</button>
        <button>Trade</button>
    </div>


</div>