{% extends 'base.html' %}

{% block content %}

<div class='queue-page'>

    <div class='add-q'>
    <button class='button-add-q'><i class="fas fa-plus-circle"></i> Request</button>
    </div>
    {% include 'items/q-form.html' %}

    {% for message in messages %}
        <span class='success-m'>{{message}}</span>
    {% endfor %}

    {% if trans|length > 0 %}
    <p id="history-header">Help requests</p>
    <div id="q-container">
        {% for tran in trans %}
        {% include 'items/q-preview.html' %}
        {% endfor %}    
    </div>
    {% else %}
    <h1 id='content-text'> Queue is empty </h1><br>
    <img src='/static/all_happy.png' alt='all happy' class='all-happy-img'>
    {%endif%}

</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.button-add-q').click(function(){
            $('.q-form input').toggleClass('active');
            $('.q-form label').toggleClass('active');
            $('.q-form textarea').toggleClass('active');
            $('#id_method').toggleClass('active');
        })
    });

    document.getElementById("_1234").checked = true;

</script>

<style>

    .success-m {
        text-align: center;
        background-color: #84ff74;
    }

    #q-container {
        border-color: #bebebe;
        border-style: solid;
        border-width: 2px;
        max-width: 800px;
        min-width: 200px;
        margin: 20px auto 30px auto;
        padding: 5px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        
    }
    
    #q-container table {
        border-collapse: separate;
        border-spacing: 0px 0;
        font-family: 'Quicksand', sans-serif;
        min-width: 100px;
    }


</style>

{% endblock %}


