{% extends 'base.html' %}

{% block content %}



<div class='queue-page'>

    <div class='add-q'>
    <button class='button-add-q'><i class="fas fa-plus-circle"></i> Request</button>
    </div>
    {% include 'items/q-form.html' %}
    {% if trans|length > 0 %}
    {% for tran in trans %}
    
        {% include 'items/q-preview.html' %}

    {% endfor %}
    {% else %}
    <h1 id='content-text'> Queue is empty </h1>
    <img src='/static/all_happy.png' alt='all happy' class='all-happy-img'>
    {%endif%}

</div>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.button-add-q').click(function(){
            $('.q-form input').toggleClass('active');
        })
    })
</script>

{% endblock %}