{% extends 'base.html' %}

{% block content %}
    <h1 id='content-text'>
        Welcome back{% if user.is_authenticated %}, {{user.username}}!
        {% else %} Guest!
        {% endif %}
    </h1>

    {% include 'ranking.html' %}

    <iframe id="csoPvc" src="https://www.chessstrategyonline.com/widgets/play-vs-computer/default/uscf?coords=true&amp;width=400" style="border: none; width: 100%; min-width: 300px; max-width: 420px; height: 510px;display:block;margin: 20 auto;font-family: 'Courier New', Courier, monospace;"></iframe>

    <style>
        
    </style>


{% endblock %}