<div id='ranking'>
    <h1 id='ranking-header'>Current Ranking</h1>

    <div id = "content">
        <table id = "ranking-table" class = "table">
        <thead>
            <tr>
            <th>rank</th>
            <th>username</th>
            <th>happiness</th>
            </tr>
        </thead>
        <tbody id = "ranking-list">
            {% for student in rankings %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.username}}{% if forloop.counter == 1%} <i class="fas fa-crown"></i>{% endif %}</td>
            <td>{{student.happiness}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
