<div id='ranking'>
    <h1 id='ranking-header'>Current Ranking</h1>

    <div id = "content">
        <table id = "ranking-table" class = "table">
        <thead>
            <tr>
            <th>rank</th>
            <th>username</th>
            <th>happys</th>
            </tr>
        </thead>
        <tbody id = "ranking-list">
            {% for student in rankings %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        {% if forloop.counter == 1%} <i class="fas fa-crown"></i>
                        {% endif %}
                        <a href="{% url 'profile' student.student_id %}" class='ranking_name'>{{student.username}}</a>
                    </td>
                    <td>{{student.happiness}}</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<style>

    #ranking-header {
        font-family: 'DM Mono', monospace;
        font-size: min(20vw, 20px);
    }

    .ranking_name{
        color: #313131;
        font-family: 'Quicksand', sans-serif, 'Sunflower', sans-serif;
        font-size: 20px;
    }

    .ranking_name:hover{
        color: #ff0000;
        font-family: 'Quicksand', sans-serif;
        font-size: 17px;
    }

</style>
